/*RESETEO DE LOS PARGENES INTERIORES Y EXTERIORES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ATRIBUTOS GENERALES PREESTABLECIDOS*/
:root {
    --color-rojo: #f20519;
    --color-naranja: #f25c05;
    --color-amarillo-obscuro: #f2ab27;
    --color-amarillo-claro: #f2cb05;
    --color-blanco: #d2d2d2;
    --color-negro: #020202;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--color-amarillo-claro);
    text-align: center;
    padding: 20px;
}

h1 {
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 3em;
    color: var(--color-rojo);
    margin-bottom: 20px;
}

form {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-negro);
    border-radius: 5px;
}

select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23020202" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 16.5l-6-6 1.41-1.41L12 13.67l4.59-4.58L18 10.5z"/></svg>') no-repeat;
    background-position: right center;
}

button {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: var(--color-naranja);
}